aiohappyeyeballs==2.6.1aiohttp==3.13.3aiosignal==1.4.0annotated-doc==0.0.4annotated-types==0.7.0anyio==4.12.1APScheduler==3.11.2attrs==25.4.0bcrypt==4.1.3black==26.1.0boto3==1.42.57botocore==1.42.57brotli==1.2.0certifi==2026.2.25cffi==2.0.0charset-normalizer==3.4.4click==8.3.1cryptography==46.0.5cssselect2==0.9.0distro==1.9.0dnspython==2.8.0ecdsa==0.19.1email-validator==2.3.0et_xmlfile==2.0.0ezdxf==1.4.3fastapi==0.110.1fastuuid==0.14.0fattureincloud-python-sdk==2.1.3filelock==3.24.3flake8==7.3.0fonttools==4.61.1frozenlist==1.8.0fsspec==2026.2.0google-ai-generativelanguage==0.6.15google-api-core==2.30.0
